<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
	<script type="text/javascript">
	    function switchChannel(channel)
	    {
	    	blockUI()
	    	$.post('/channel/'+channel, function(){unblockUI()} )
	    }

		function allDevicesOn() {
	    	blockUI();
	    	$.get('/tv?command=on', function(){unblockUI()} );
	    }

	    function allDevicesOff() {
	    	blockUI();
    		$.get('/tv?command=off', function(){unblockUI()} );
		}

	    function command() {
			var command = document.getElementById("commandField").value;
			var lowerCaseCommand = command.toLowerCase();
			if(lowerCaseCommand.indexOf('alles einschalten') != -1) {
				allDevicesOn();
			} else if(lowerCaseCommand.indexOf('fernseher einschalten') != -1) {
				alert(command);
			}
	    }



	</script>
	<div class="page">
	    <h1>Clicker</h1>
		<input id="commandField" type="text" style="font-size:25px;" x-webkit-speech onwebkitspeechchange="command();"/>
		<input type="button" value="Go" onclick="command();"/>
		<br/>
	    <img src="{{ url_for('static', filename='tv-on.jpg')}}" width="70" onClick="allDevicesOn()">
	    <img src="{{ url_for('static', filename='tv-off.jpg')}}" width="70" onClick="allDevicesOff()">
	    <a href="/pin"><img src="{{ url_for('static', filename='pin.jpg')}}" width="70"></a>
	    <br/>
	    <a href="/rc/device/TV"><img src="{{ url_for('static', filename='samsung.jpg')}}" width="70"></a>
	    <a href="/rc/device/SKY"><img src="{{ url_for('static', filename='sky_logo.png')}}" width="70"></a>
	    <a href="/rc/device/HARMON-KARDON"><img src="{{ url_for('static', filename='harmon.jpg')}}" width="70"></a>
	    <a href="/rc/device/APPLE-TV"><img src="{{ url_for('static', filename='appletv.jpg')}}" width="70"></a>
	</div>
	<div class="page">
	    <a href="/">Jetzt</a>
	    <a href="?tv-time=2015">20:15</a>
	    <a href="?tv-time=2200">22:00</a>

	    <table>
	        <tbody>
	        	{% for item in tvItemList %}
	            <tr>
	                <td>
	                    <img src="{{item.previewImage}}" onclick="switchChannel(&quot;{{item.channel}}&quot;)">
	                </td>
	                <td>{{item.title}}</td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	</div>
	<!--
	    {% for item in tvItemList %}
	        {{item.channel}}
	    {% endfor %}
	                            -->
{% endblock %}
