<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Clicker</title>
        <script type="text/javascript" src="/static/jquery.min.js"></script>
        <script type="text/javascript">
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="/static/jquery.blockUI.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
	    <script type="text/javascript">
		    function blockUI()
		    {
		    	$.blockUI({ message: '<img src="/static/loading.gif" width="75"/>' });
		    }

		    function unblockUI()
		    {
		    	$.unblockUI();
		    }
		</script>
	    {% block body %}{% endblock %}</body>
</html>
