<!doctype html>
{% extends "remote_control_layout.html" %}
{% block body %}
<script type="text/javascript">
function pressButton(button)
{
	blockUI()
	$.post('/remotecontrol/tv/button/'+button, function(){unblockUI()})
}
</script>

<div class=page>
	<h1><a href="/remotecontrol"><img src="/static/back.png"/></a>Fernseh-Clicker</h1>
	<center>
	<img src="/static/samsung.jpg"/>
	<table>
		<tr>
			<td class="remote-control-button" onClick='pressButton("standby")'>An/Aus</td>
			<td class="remote-control-button" onClick='pressButton("input_source")'>Quelle</td>
		</tr>
	</table>
	</center>
</div>

{% endblock %}
