<!doctype html>
{% extends "remote_control_layout.html" %}
{% block body %}
<center>
	<div class=page>
		<h1><a href="/"><img src="/static/back.png"/></a>Clicker-Übersicht</h1>
		<a href="/remotecontrol/tv"><img src="/static/samsung.jpg" width="190"></a>
		<a href="/remotecontrol/audio"><img src="/static/harmon.jpg" width="190"></a>
		<a href="/remotecontrol/sky"><img src="/static/sky_logo.png" width="190"></a>
		<a href="/remotecontrol/appletv"><img src="/static/appletv.jpg" width="190"></a>
	</div>
</center>

{% endblock %}
